<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/php/bootstrap.php" colors="true" beStrictAboutOutputDuringTests="true" beStrictAboutChangesToGlobalState="true" processIsolation="true" stopOnError="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
    <report>
      <clover outputFile="./tests/coverage/report/clover.xml"/>
      <html outputDirectory="./tests/coverage/report/html" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Test">
      <directory suffix="Test.php">./tests/php/Unit/</directory>
      <directory suffix="Test.php">./tests/php/Integration/</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
